body {
    /* background: #fafafa; */
    background: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
}

.containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vw;
    /* background-color: blue; */
    
}

.divBotao {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}

.botao {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.botao:hover,
.botao:focus {
    color: #fff;
    outline: 0;
}

.inicio {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.inicio:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.playAgain {
    display: block;
    grid-row: inherit;
    text-align: center;
    font-size: 16px;
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 100vw; */
    /* height: 50vw; */
    /* background-color: yellow; */

}

.dino {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url(./images/dino.png);
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(./images/cactus.png);
}


@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(./images/background.png);
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    width: 100%;
    height: 200px;
}